{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
   {% for msg in messages%}
        <div class="alert alert-primary" role="alert">
            {{msg}}
        </div>
    {%endfor%}
<div class="container">
<form method="post" action="{% url "reset_pass" %}" >
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" name ="pass1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm-Password</label>
      <input type="text" name="pass2" class="form-control" id="exampleInputPassword1" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Change</button>
  </form>
</div>
{% endblock %}