{% extends "base.html" %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="card text-center">
    <div class="card-header">
        Email Verification
    </div>
    <div class="card-body">
      <h5 class="card-title">Verified</h5>
      
      {% if user.is_authenticated %}
      <p class="card-text">Email Verified Successful, go to Dashboard</p>
      <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
      {%else%}
      <p class="card-text">Email Verified Successful, Login Now</p>
      <a href="{% url 'login' %}" class="btn btn-primary">login</a>
      {%endif%}
    </div>
    
  </div>

{% endblock %}